!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en", "data-images" => "waiting", "data-overlay" => ""}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body

		%main{:role => "main"}

			%section

				%article{"data-container" => "width_680"}

					.wrap_logo.wrap_svg
						%svg.logo_domcity{:viewBox => "0 0 64 64"}
							%use{"xlink:href" => "#logo_domcity"}

					%h1.visuallyhidden Dominion Day
					%h2.visuallyhidden July 1, 2015
					%p.visuallyhidden Check back soon for more details or sign up below and be the first to know when tickets are on sale.

					.wrap_main.wrap_svg
						%svg.txt_main.svg_inline{:viewBox => "0 0 679 176"}
							%use{"xlink:href" => "#txt_main"}

					= Haml::Engine.new(File.read("dev/haml/partials/_form_mailchimp.haml")).render

		%aside#overlay.mce-overlay
			#overlay_modal.overlay_modal
				.wrap_response
					%h3#mce-response-text
					%a#close.button{:href => "#", :title => "Close Window"} Close

		%img#bg-image.visuallyhidden{:src => "assets/img/bg_map.jpg", :alt => ""}

		= Haml::Engine.new(File.read("dev/haml/partials/_html_loader.haml")).render
		= Haml::Engine.new(File.read("dev/haml/partials/_doc_scripts.haml")).render