// ==|== primary styles =======================================================
// ============================================================================

// Foundation
// ----------------------------------------------------------------------------
html,
button,
input {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	color: $hsl_ash;
}
html {
	min-height: 100%;
}
body {
	position: relative;
	text-align: center;
	background-color: $hsl_L20;
	background-image: url('../img/bg_map.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
::selection {
	color: $hsl_ash;
	background-color: $hsl_blue;
}
::-webkit-input-placeholder {
	color: $hsl_ash;
	opacity: 0.8;
}
::-moz-placeholder {
	color: $hsl_ash;
	opacity: 0.8;
}
:-ms-input-placeholder {
	color: $hsl_ash;
	opacity: 0.8;
}

// Transitions
// ----------------------------------------------------------------------------
a,
input,
button {
	transition: all 0.3s ease-in-out;
}
svg {
	transition: fill 0.3s ease-in-out;
}
aside.mce-overlay,
div.loader_overlay {
	transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
}
// --- Animations --- \\
@keyframes animShow {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes animHide {
	0%   { opacity: 1; left: 0; }
	99%  { opacity: 0; left: 0; }
	100% { opacity: 0; left: -200%; }
}
@keyframes animShake {
	0%, 100% {
		transform: translate3d(0,0,0);
	}
	10%, 30%, 50%, 70%, 90% {
		transform: translate3d(-1rem,0,0);
	}
	20%, 40%, 60%, 80% {
		transform: translate3d(1rem,0,0);
	}
}
@keyframes anim360 {
	to {
		transform: rotate(360deg);
	}
}

// General Styles
// ----------------------------------------------------------------------------
// --- Containers --- \\
[data-container] {
	margin-left: auto;
	margin-right: auto;
}
[data-container="width_680"] {
	max-width: 68rem;
}
[data-container="width_386"] {
	max-width: 38.6rem;
}
// --- SVGs --- \\
#svgInject {
	display: none;
	visibility: hidden;
}
.wrap_svg {
	margin-left: auto;
	margin-right: auto;
}
a.wrap_svg {
	display: block;
}
.wrap_svg svg {
	width: 100%;
	height: 100%;
}
svg.svg_inline {
	display: inline; // [viewBox] attribute selector does not work in webkit
}
// --- Body Locking --- \\
html,
html body {
	overflow-y: visible;
}
html[data-images="waiting"],
html[data-images="waiting"] body,
html[data-overlay="visible"],
html[data-overlay="visible"] body {
	overflow-y: hidden;
}

// CSS Loader
// ----------------------------------------------------------------------------
div.loader_overlay {
	position: fixed;
	z-index: 900;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $hsl_L20;
	opacity: 1;
	overflow: hidden;
}
div.loader_overlay div.wrap_svg {
	position: absolute;
	z-index: 911;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 4.4rem;
	height: 4.4rem;
	animation: anim360 1s linear infinite forwards;
}
div.loader_overlay div.wrap_svg svg {
	fill: $hsl_blue;
}
html[data-images="loaded"] div.loader_overlay {
	opacity: 0; // fade to 0 once images are loaded - JS will remove from DOM
}

// Overlay & Modals
// ----------------------------------------------------------------------------
aside.mce-overlay {
	position: fixed;
	z-index: 900;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: hsla(0,0%,0%,0.8);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
[data-overlay="visible"] aside.mce-overlay {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}
.overlay_modal {
	position: absolute;
	z-index: 901;
	top: 0;
	right: 1.6rem;
	bottom: 0;
	left: 1.6rem;
	margin: auto;
	max-width: 32rem;
	padding: 0 2rem;
	height: 28rem;
	background-color: $hsl_L100;
	border-radius: 1rem;
}
/*
// + internet explorer + \\
html.ie9 [data-overlay="hidden"] aside.mce-overlay {
	display: none;
}
html.ie9 [data-overlay="visible"] aside.mce-overlay {
	display: block;
}
*/

// Links & Buttons
// ----------------------------------------------------------------------------
.button {
	display: block;
	margin: 0 auto;
	width: 12rem;
	height: 4.8rem;
	font-size: 1.6rem;
	letter-spacing: 0.1rem;
	line-height: 4.8rem;
	text-align: center;
	text-transform: uppercase;
	color: $hsl_ash;
	background-color: $hsl_blue;
}
.button:hover {
	background-color: $hsl_red;
}
.button:active {
	background-color: lighten($hsl_red, 10%);
}
// --- SVG Buttons --- \\
button svg {
	margin: auto;
	width: 6.1rem;
	height: 1.2rem;
	fill: $hsl_ash;
}

// Forms
// ----------------------------------------------------------------------------
form {
	margin-bottom: 6rem;
}
input[type="text"],
input[type="email"] {
	margin-bottom: 2rem;
	padding-left: 1.6rem;
	padding-right: 1.6rem;
	width: 100%;
	height: 4.8rem;
	font-size: 1.6rem;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	border: 0.2rem solid $hsl_ash;
	-webkit-appearance: none; // prevent iOS inset shadow
	   -moz-appearance: none; // prevent iOS inset shadow
			appearance: none; // prevent iOS inset shadow
	box-shadow: none; // prevent iOS inset shadow
}
input[type="text"]:focus,
input[type="email"]:focus {
	border-color: $hsl_blue;
}
input[type="email"].error {
	border-color: $hsl_red;
	animation: animShake 0.7s ease-in-out both;
}
// --- Mailchimp Response --- \\
.wrap_response {
	position: relative;
	z-index: 902;
	top: 50%;
	transform: translateY(-50%);
}
.wrap_response h3 {
	margin-bottom: 3.2rem;
	font-size: 1.6rem;
	line-height: 1.4;
	color: $hsl_L20;
}


// ==|== sections =============================================================
// ============================================================================

// Articles
// ----------------------------------------------------------------------------
main {
	display: table;
	table-layout: fixed;
	padding: 4rem 1.6rem;
	width: 100%;
	height: 100vh;
}
section {
	display: table-cell;
	vertical-align: middle;
}
div.wrap_logo {
	margin-bottom: 4rem;
	width: 10rem;
	height: 10rem;
}
div.wrap_main {
	margin-bottom: 4rem;
}
div.wrap_main svg {
	fill: $hsl_ash;
}
a.wrap_svg {
	width: 17.6rem;
	height: 1.9rem;
}
a.wrap_svg svg {
	fill: $hsl_blue;
}
a.wrap_svg:hover svg {
	fill: $hsl_red;
}
a.wrap_svg:active svg {
	fill: lighten($hsl_red, 10%);
}