// SASS Variables
// ----------------------------------------------------------------------------
$hsl_ash:  hsl(180,4%,95%);
$hsl_blue: hsl(206,49%,66%);
$hsl_red:  hsl(357,70%,41%);
$hsl_L0:   hsl(0,0%,0%);
$hsl_L20:  hsl(0,0%,20%);
$hsl_L100: hsl(0,0%,100%);

$boxshadow_drop: 0 0.1rem 0.2rem hsla(0,0%,0%,0.3);

// One stylesheet to rule them all
// ----------------------------------------------------------------------------
@import 'base';
@import 'main';
@import 'queries';