%form#mc-embedded-subscribe-form.validate{:action => "//dominioncity.us7.list-manage.com/subscribe/post-json?u=606d7d0b567f59c868c9f077a&amp;id=77725fb140&c=?", :method => "get", :name => "mc-embedded-subscribe-form", :novalidate => true, "data-container" => "width_386", :autocomplete => "off"}

	-# %input#fake_NAME{:style => "display:none;", :type => "text", :name => "fake_name", :tabindex => "-1", :autocomplete => "off"}
	-# %input#fake_EMAIL{:style => "display:none;", :type => "email", :name => "fake_email", :tabindex => "-1", :autocomplete => "off"}

	%input#mce-NAME.mce-name{:type => "text", :name => "NAME", :value => "", :placeholder => "Name", :tabindex => "1", :autocomplete => "off"}
	%input#mce-EMAIL.mce-email{:type => "email", :name => "EMAIL", :value => "", :placeholder => "Email", :required => true, :tabindex => "2", :autocomplete => "off"}

	-# #do-not-remove.visuallyhidden
		-# %input{:type => "text", :name => "b_606d7d0b567f59c868c9f077a_77725fb140", :value => "", :tabindex => "-1", :autocomplete => "off"}

	%button#mc-embedded-subscribe.button{:type => "submit", :value => "Submit", :name => "subscribe", :tabindex => "3"}
		%svg.txt_submit{:viewBox => "0 0 61 12"}
			%use{"xlink:href" => "#txt_submit"}

%h4.visuallyhidden www.dominioncity.ca

%a.wrap_svg{:href => "http://dominioncity.ca/", :title => "Visit Dominion city .ca"}
	%svg.txt_link{:viewBox => "0 0 176 19"}
		%use{"xlink:href" => "#txt_link"}